
.NavbarItems{
    background-color: #3b3939;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 90%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}
.nav-menu {
    color: white;
}
.navbar-logo{
    color: #222;
    font-size: 2rem;
    cursor: pointer;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-gap: 20px;
    list-style: none;
    align-items: center;

}
.nav-links{
    text-decoration: none;
    color: #f5f2f2;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.9rem 0.2rem;
    white-space: nowrap;
}

.nav-links:hover{
    color: #6e6cb3;
    border-radius: 4px;
}  
.nav-links-mobile{
    display: none;

}
button{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover{
    background-color: black;
    color: white;
}
.menu-icons{
    display: none;
}
@media screen and (max-width : 850px) {
    
    .menu-icons{
        display: block;
    }
    .menu-icons i{
       font-size: 1rem;
       color: #222;
       cursor: pointer;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        /* text-align: center; */
        background-color: rgb(41, 40, 40);
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 60px 0 20px 0;
        margin: 0%;
       border-radius: 13px;
        transition: .2s ease-in-out;
    }
    .nav-menu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
    }
    .nav-links{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 1.5rem; 
    }
    .nav-links:hover{
        background-color: #01959a;
        transition: none;
    }
    button{
        display: none;
    }
    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 0rem;
        margin: auto;
        border-radius: 4px;
        width: 80%;
        background-color: #01959a;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 2px;
    }
}